<!doctype html>
<html>
    <head>
        <title>Amazon IoT Button Metrics</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    </head>
    <body>
        <div id="content"></div>
        <div class="buttons">
            <button id="singlePress">Single Press</button>
            <button id="doublePress">Double Press</button>
            <button id="longPress">Long Press</button>
            <button id="reset">Reset</button>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/static/scripts/buttons.js"></script>
    </body>
</html>